body {
  padding: 50px;
  font: Arial, Helvetica, sans-serif;
}


.starter-template {
  padding: 40px 15px;
  text-align: center;
}

a {
  color: #00B7FF;
}

.navbar {
	background-color: #07150F;
}
.jumbotron {
	border: 1px solid;
    background: #085078; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #085078 , #85D8CE); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #085078 , #85D8CE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px 0;
}

.jumbotron p {
    font-size: 18px;
    color: white;
}

#experiment, #datasample, #paper_search {
	border: 1px solid;
    border-radius: 5px;
    margin: 5px;
    padding: 15px;
}

.vcenter {
    vertical-align: top;
}


.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    padding: 4px;
    font-size: 13px;
}

.span12{
    border:solid 1px black;
    background-color:grey;
}

.arrowUp {
  border-top: 12px solid #ddd;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  font-size: 0;
  line-height: 0;
  width: 0;
}
.arrowDown {
  border-bottom: 12px solid #ddd;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  font-size: 0;
  line-height: 0;
  width: 0;
}
.arrowRight {
  border-left: 12px solid #ddd;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid transparent;
  font-size: 0;
  line-height: 0;
  width: 0;
}
.arrowLeft {
  border-left: 12px solid transparent;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid #ddd;
  font-size: 0;
  line-height: 0;
  width: 0;
}
